/* for responsiveness */
/* 1st */

@media (max-width: 480px) {
    .hero h1 {
        font-size: 7vh;        
        margin: 20px;

    }

    .hero textarea {
        height: 50vh;
        width: 70vw;
    }

    .row {
        min-height: 20vh;
        width: 80vw;
        flex-direction: column;
        justify-content: space-around;
        gap: 0;
    }

    .row select {
        flex: none;
        height: 35px;
        padding: 0 30px;
        background-size: 12px;
        background-position-x: calc(100% - 12px);
        background-position-y: 15px;
        font-size: 13px;
    }

    .row button {
        padding: 5px 8px;
        font-size: 13px;
    }
}

@media (max-width: 400px) {

    .hero h1 {
        font-size: 6.5vh;
    }

    .row select {
        padding: 0 28px;
    }
}

@media (max-width: 380px) {
    .hero h1 {
        font-size: 6vh;
    }

    .row select {
        padding: 0 25px;
        background-position-x: calc(100% - 10px);
    }
}

@media (max-width: 340px) {
    .hero h1 {
        font-size: 5.5vh;
    }
}