/* for responsiveness */
/* 1st */
@media screen and (max-width: 414px) {

    .hero h1 {
        font-size: 5vh;
        margin-top: 15px;
    }

    .hero textarea {
        height: 50vh;
        width: 70vw;
    }

    .row {
        height: 20vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;
    }

    .row select {
        flex: none;
        color: white;
        background-color: #3d618b81;
        height: 35px;
        padding: 0 40px;
        outline: 0;
        border: 0;
        border-radius: 35px;
        appearance: none;
        background-image: url(img/273-2739733_white-drop-down-arrow.png);
        background-repeat: no-repeat;
        background-size: 12px;
        background-position-x: calc(100% - 15px);
        background-position-y: 15px;
        font-size: 13px;
    }

    .row button {
        padding: 5px;
        font-size: 13px;
    }
}