* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #015834, #10186ae2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.hero h1 {
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}

.hero h1 span {
    color: #ff2963;
}

.hero textarea {
    height: 35vh;
    width: 40vw;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #3d618b81;
    color: #fff;
    resize: none;
    margin-bottom: 30px;
}

textarea::placeholder {
    font-size: 15px;
    color: #ffffffae;
}

.row {
    width: 40vw;
    display: flex;
    align-items: center;
    gap: 50px;
}

.row button {
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #ff2963;
    color: white;
    padding: 10px;
    border-radius: 35px;
    cursor: pointer;
}

.row button i {
    padding-right: 10px;
}

.row button:hover {
    background-color: white;
    color: #ff2963;
    border: 1px solid #ff2963;
}

.row select {
    font-size: 15px;
    flex: 1;
    color: white;
    background-color: #3d618b81;
    height: 43px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(img/273-2739733_white-drop-down-arrow.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;

}
















/* for responsiveness */
/* 1st */

@media (max-width: 480px) {
    .hero h1 {
        font-size: 7vh;
        margin: 20px;

    }

    .hero textarea {
        height: 50vh;
        width: 70vw;
    }

    .row {
        min-height: 20vh;
        width: 80vw;
        flex-direction: column;
        justify-content: space-around;
        gap: 0;
    }

    .row select {
        flex: none;
        height: 35px;
        padding: 0 30px;
        background-size: 12px;
        background-position-x: calc(100% - 12px);
        background-position-y: 15px;
        font-size: 13px;
    }

    .row button {
        padding: 5px 8px;
        font-size: 13px;
    }
}

@media (max-width: 400px) {

    .hero h1 {
        font-size: 6.5vh;
        margin: 18px;
    }

    .row select {
        padding: 0 28px;
    }
}

@media (max-width: 380px) {
    .hero h1 {
        font-size: 6vh;
        margin: 16px;
    }

    .row select {
        padding: 0 25px;
        background-position-x: calc(100% - 10px);
        font-size: 12px;
    }

    .row button {
        font-size: 12px;
    }
}

@media (max-width: 340px) {
    .hero h1 {
        font-size: 5.5vh;
        margin: 15px;
    }

    .row select {
        font-size: 11px;
    }

    .row button {
        font-size: 11px;
    }
}

@media (max-width: 314px) {
    .hero h1 {
        font-size: 5vh;
        margin: 14px;
    }

    .row select {
        font-size: 10px;
    }

    .row button {
        font-size: 10px;
    }

}

@media (max-width: 288px) {
    .hero h1 {
        font-size: 4.5vh;
        padding: 14px;
    }
}

@media (max-width: 271px) {
    .hero h1 {
        font-size: 4.3vh;
        padding: 10px;
    }
}

@media (max-width: 260px) {
    .hero h1 {
        font-size: 4vh;
        padding: 10px;
    }
}